.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 0 31.6px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .header {
    padding: 38px 0 36px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
