.profile__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 229px;
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    margin-top: 14px;
  }
}
