.header__container_link-text {
    font-weight: 400;
    font-size: 18px;
    color: white;
    line-height: 22px;
    text-align: right;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 24px;
}