.popup__infotooltip {
    position: relative;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    max-height: 330px;
    min-height: 330px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}