.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 328px;
}

@media screen and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 219px;
  }
}
